<p id="notice"><%= notice %></p>
<div class="container">
    <section class="section">
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                    <%= gravatar_image_tag(@tweet.user.email, size: 64, alt: @tweet.user.name )%>
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <strong><%= @tweet.user.name %></strong>
                            @<small><%= @tweet.user.username %> </small><br/>
                        <p><%= @tweet.tweet %></p>
                    </div>

                     <% if current_user.id == @tweet.user_id %>
                <nav class="level">
                    <div class="level-left is-mobile">
                        <%= link_to edit_tweet_path(@tweet), class: "level-item" do %>
                            <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                        <%end%>
                        <%= link_to @tweet, method: :delete, class: "level-item", data: { confirm: "Are you sure you want to delete this?" } do %>
                            <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                        <%end%>
                    </div>
                </nav>
              <%end%>

                </div>
            </article>
        </div>
    </div>
    </section>
</div>

    <div class="container">
    <section class="section comments">

        <div class="comment-form">
            <h3 class="subtitle is-3">Leave a reply</h3>
            <%= render 'comments/form' %><br/><br/>
        </div>
        <h2 class="subtitle is-5"><strong><%= @tweet.comments.count %></strong> Comments</h2>
        
        <%= render @tweet.comments %>

    </section>
</div>